body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ========= LANDING ========= */

.landing-body {
    background: #eef3ff;
}

.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 48px;
    color: #1b2a64;
}

.hero p {
    font-size: 20px;
    color: #333333;
}

.btn-primary {
    padding: 12px 24px;
    background: #1e4cff;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

/* About */
.about {
    background: white;
    padding: 60px 20px;
    text-align: center;
}

/* Features */
.features {
    padding: 60px 20px;
    text-align: center;
}

.feature-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.feature-card {
    width: 300px;
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* ========= PORTAL SELECTION ========= */

.portal-body {
    background: #eef3ff;
}

.portal-container {
    text-align: center;
    padding: 80px 20px;
    color: #273775;
}

.portal-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.portal-card {
    width: 300px;
    padding: 30px;
    background: white;
    border-radius: 14px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.portal-card:hover {
    transform: translateY(-6px);
}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.blue { background: #b4d2ff; }
.green { background: #c0f2d2; }
.purple { background: #e6ccff; }

/* ========= LOGIN ========= */

.login-body {
    background: #eef3ff;
}

.back-link {
    margin: 20px;
    display: inline-block;
    color: #1e4cff;
    text-decoration: none;
}

.login-card {
    width: 420px;
    background: white;
    padding: 40px;
    margin: 50px auto;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.login-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.remember-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.forgot-link {
    color: #1e4cff;
    text-decoration: none;
}

.signup-text {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

/* ========= ADMIN FORM ========= */

.form-card {
    width: 450px;
    background: white;
    padding: 40px;
    margin: 50px auto;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

/* ========= FOOTER ========= */
.footer {
    background: #1b2a64;
    color: white;
    text-align: center;
    padding: 10px;
}
