<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Add User</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="card">
    <h2>Add New User</h2>

    <label>User Type</label>
    <select>
        <option value="client">Client</option>
        <option value="staff">Staff</option>
    </select>

    <label>Email</label>
    <input type="email" placeholder="user@eclmicro.com">

    <label>Temporary Password</label>
    <input type="password">

    <button class="btn-admin">Create User</button>
</div>

</body>
</html>
