<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User (Admin)</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/admin.css">

</head>
<body class="admin-body">

    <a href="home.html" class="back-link">← Back</a>

    <div class="form-card">
        <h2>Add New User</h2>

        <form>
            <label>Full Name</label>
            <input type="text" required>

            <label>Email</label>
            <input type="email" required>

            <label>Password</label>
            <input type="password" required>

            <label>Select Role</label>
            <select>
                <option value="client">Client</option>
                <option value="staff">Staff</option>
                <option value="admin">Admin</option>
            </select>

            <button class="btn-primary">Create User</button>
        </form>
    </div>

</body>
</html>
