<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal Selection</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/landing.css">
    <link rel="stylesheet" href="../static/footer.css">

</head>
<body class="portal-body">

    <div class="portal-container">

        <h1>ECL-Micro Network & Data Solutions</h1>
        <p>Integrated System Portal</p>

        <div class="portal-grid">

            <a href="login_client.html" class="portal-card">
                <div class="icon-circle blue"></div>
                <h3>Client Portal</h3>
                <p>Request services and view updates</p>
            </a>

            <a href="login_staff.html" class="portal-card">
                <div class="icon-circle green"></div>
                <h3>Staff Portal</h3>
                <p>Manage tasks and service reports</p>
            </a>

            <a href="login_admin.html" class="portal-card">
                <div class="icon-circle grey"></div>
                <h3>Admin Portal</h3>
                <p>System management panel</p>
            </a>

        </div>

    </div>

</body>
</html>
