<div class="portal-container">

    <h1>ECL-Micro Network & Data Solutions</h1>
    <p>Integrated System Portal</p>

    <div class="portal-grid">

        <div class="portal-card">
            <a href="/login?type=client">
                <img src="" class="icon">
                <h3>Client Portal</h3>
            </a>
        </div>

        <div class="portal-card">
            <a href="/login?type=staff">
                <img src="" class="icon">
                <h3>ECL Staff Portal</h3>
            </a>
        </div>

        <div class="portal-card">
            <a href="/login?type=admin">
                <img src="" class="icon">
                <h3>ECL Admin Portal</h3>
            </a>
        </div>

    </div>
</div>
